
<div class="row centeralign"  *ngIf="selectedStories">
    <div class="col-3 storybox" *ngFor="let story of selectedStories">
        <div class="point">
            Point: {{story.point}}
        </div>
        <div class="name">
            {{story.name | titlecase}}
        </div>
        <div class="description">
            {{story.description}}
        </div>
         
    </div>
 
    <div  class="emptytext col-6" *ngIf="selectedStories.length<1">
        No   stories since all stories exceed {{sprintCapacity}} point.
   
 </div>
   
</div>
