<div class="popup" (click)="onCloseForm()">
    

<form [formGroup]="storyForm" (ngSubmit)="onSubmit()" (click)="$event.stopPropagation();">
    <h3>Add Story</h3>
    <div> 
      <input id="name" name="name" formControlName="name" placeholder="Name">
      <span class="errortext" *ngIf="isUniqueName">The name is already exists</span>
    </div>
    <div> 
      <input type="number" name="point" id="point" formControlName="point" placeholder="Point">
    </div>
    <div> 
        <textarea name="desc" id="desc" formControlName="description" placeholder="Description"></textarea>
      </div>
      
   <div class="row">
 <div class="col-4">
    <button type="submit" [disabled]="storyForm.invalid || isUniqueName">Submit</button>  
 </div>
 <div class="col-4">  
    <button type="button" (click)="onCloseForm()">  Close   </button>
 </div>
   </div>
  </form>

</div>
