 
<app-story-detail-form [formData]="formData" (onClose)="onCloseDetailForm($event)" *ngIf="displayDetailForm"/>

<h3>Story </h3>
<div>
    <button type="button" (click)="onAdd()"> Add Story</button>
</div>
<div>
    <table border="1">
       <tr>
        <th>Name</th>
        <th>Point</th>
        <th>Action</th>
       </tr>
       <tr *ngFor="let story of storiesList">
        <td >{{story.name}} </td>
        <td >{{story.point}} </td>
        <td>
            <div (click)="onEdit(story)">
                edit
            </div>

            <div (click)="onDelete(story)">
                delete
            </div>
        </td>
       </tr> 
       <tr>
        <td colspan="3" *ngIf="storiesList.length<1">No records to display</td>
       </tr>
    </table>
</div> 